.button--sub-heading {
  background-color: $sub-heading;
  @extend %transition;
  &:hover {
    background-color: $sub-heading--hover;
    @extend %transition;
  }
  &:active {
    background-color: $optimization-color;
    @extend %transition;
  }
}
