.header {
  background-color: $dark;
  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__inner {
    display: flex;
    align-items: center;
    gap: 23px;
  }

  &__lang {
    color: $light;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 30px;
  }
  &__link {
    @extend %noto;
    @include font(12px, 700, 16px, center);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light;
  }
}
