.header {
  background-color: $dark;
  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__inner {
    display: flex;
    align-items: center;
    gap: 23px;
  }

  &__lang {
    color: $light;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__link {
    @extend %noto;
    @include font(12px, 700, 16px, center);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light;
  }
}

@media (max-width: 1030px) {
  .nav {
    &__list {
      gap: 15px;
    }
  }
}

@media (max-width: 930px) {
  .header__nav {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    top: -100vh;
    left: 0;
    background-color: $dark;
    transition: top 0.3s ease;
  }

  .header__nav--opened {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.3s ease;
  }
  .nav {
    &__list {
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
    }
  }
}
