.hero {
  background-image: $gradient, url("./assets/bg-images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;

  &__container {
    @extend %container;
  }

  &__title {
    @extend %roboto;
    @include font(48px, 500, 56px, left);
    max-width: 815px;
    padding: 166px 0 32px 0;
    color: $light;
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-width: 655px;
    gap: 16px;
    padding-bottom: 32px;
  }

  &__item {
    @extend %roboto;
    @include font(26px, 500, 30px, left);
    color: $light;
  }
}

@media (max-width: 405px) {
  .hero {
    background-position: center;
    &__title {
      @include font(32px, 500, 37px, left);
    }

    &__item {
      @include font(20px, 500, 23px, left);
      color: $light;
    }
  }
}
