.optimization {
  background: url("./assets/bg-images/laptop.png") no-repeat 25% 75%;

  &__container {
    @extend %container;
    display: flex;
    flex-direction: column;
  }
  &__title {
    padding: 100px 0 83px;
    @extend %roboto;
    @include font(36px, 500, 42px, center);
    color: $optimization-color;
  }
  &__text {
    max-width: 475px;
    padding-bottom: 40px;
  }
  &__descr-container {
    align-self: flex-end;
    padding-bottom: 214px;
  }
}

@media (max-width: 1150px) {
  .optimization {
    background-size: 30em;
  }
}

@media (max-width: 1050px) {
  .optimization {
    background-position: center 40%;
    &__descr-container {
      padding: 225px 0 30px;
    }
  }
}

@media (max-width: 920px) {
  .optimization {
    background-position: center 60%;
  }
}

@media (max-width: 600px) {
  .optimization {
    &__title {
      @include font(28px, 400, 32px, center);
    }
  }
}

@media (max-width: 530px) {
  .optimization {
    background-size: 20em;
  }
}

@media (max-width: 400px) {
  .optimization {
    background-size: 20em;
    background-position-y: 40%;
    &__title {
      padding-bottom: 32px;
    }
  }
}
