.optimization {
  background: url("./assets/bg-images/laptop.png") no-repeat 25% 75%;

  &__container {
    @extend %container;
    display: flex;
    flex-direction: column;
  }
  &__title {
    padding: 100px 0 83px;
    @extend %roboto;
    @include font(36px, 500, 42px, center);
    color: $optimization-color;
  }
  &__text {
    max-width: 475px;
    padding-bottom: 40px;
  }
  &__descr-container {
    align-self: flex-end;
    padding-bottom: 214px;
  }
}
