.scedule {
  background: $section-bg url("./assets/bg-images/desctop.webp") no-repeat 75% 75%;
  &__container {
    @extend %container;
  }
  &__title {
    padding: 70px 0 134px;
    @extend %roboto;
    @include font(36px, 500, 42px, center);
    color: $sub-heading;
  }
  &__text {
    max-width: 475px;
    padding-bottom: 40px;
    @extend %noto;
    @include font(18px, 400, 24px);
  }
  &__descr-container {
    padding-bottom: 225px;
  }
}

@media (max-width: 1150px) {
  .scedule {
    background-size: 30em;
  }
}

@media (max-width: 1050px) {
  .scedule {
    background-position: center 40%;
    &__descr-container {
      padding: 225px 0 30px;
    }
  }
}

@media (max-width: 920px) {
  .scedule {
    background-position: center 60%;
  }
}

@media (max-width: 600px) {
  .scedule {
    &__title {
      @include font(28px, 400, 32px, center);
    }
  }
}

@media (max-width: 530px) {
  .scedule {
    background-size: 20em;
  }
}

@media (max-width: 400px) {
  .scedule {
    background-size: 20em;
    background-position-y: 40%;
    &__title {
      padding-bottom: 32px;
    }
  }
}
