.section--scedule {
  background: $section-bg url("./assets/bg-images/desctop.png") no-repeat 75% 75%;
}

.section__title {
  color: $sub-heading;
  padding: 70px 0 134px;
}

.section__text {
  max-width: 475px;
  padding-bottom: 40px;
}

.section__descr-container {
  padding-bottom: 226px;
}
