.section--schedule {
  background-color: $section-bg;
  background: url("./assets/bg-images/desctop.png") 75% 75% no-repeat;
  padding-bottom: 238px;
}
.section__title {
  padding: 70px 0 134px;
  color: $sub-heading;
}

.section__text {
  max-width: 475px;
  padding-bottom: 40px;
}
