%roboto {
  font-family: "Roboto", sans-serif;
}

%noto {
  font-family: "Noto Sans", sans-serif;
}

%container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 420px) {
  %container {
    max-width: 405px;
    padding: 0 15px;
  }
}

%transition {
  transition: background-color 0.3s ease-in-out;
}

%burger-transition {
  transition: all 0.3s ease-in-out;
}
