%roboto {
  font-family: "Roboto", sans-serif;
}

%noto {
  font-family: "Noto Sans", sans-serif;
}

%container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

%transition {
  transition: background-color 0.3s ease-in-out;
}
